/POO/nbproject/private/
/POO/build/
/PracticeMTF/nbproject/private/
/PracticeMTF/build/
/Colecciones/nbproject/private/
/Colecciones/build/
/Colecciones/dist/
/Relaciones/nbproject/private/
/Relacionex/nbproject/private/
/Relaciones/build/
/Herencia/nbproject/private/
/Herencia/build/
/Excepciones/nbproject/private/
/Excepciones/build/
/Ejercicio_Integrador/nbproject/private/
/Ejercicio_Integrador/build/
/MYSQL/nbproject/private/
/JAVAwithSQL/nbproject/private/
/JAVAwithSQL/build/
/JAVAwithSQL/dist/
/Practice/nbproject/private/
/Practice/build/
/JavaPersistenceApi_JPA/nbproject/private/
/JavaPersistenceApi_JPA/build/
/PruebasJPA/nbproject/private/
/PruebasJPA/build/
/EjerciciosJPA/nbproject/private/
/EjerciciosJPA/build/