/POO/nbproject/private/
/POO/build/
/PracticeMTF/nbproject/private/
/PracticeMTF/build/
/Colecciones/nbproject/private/
/Colecciones/build/
/Colecciones/dist/
/Relaciones/nbproject/private/
/Relacionex/nbproject/private/
/Relaciones/build/